form, .mainIntro{
    background-color: yellow;
    border: solid thick #FA1F19;
    color: #FA1F19;
}

.form-check{
    margin: 0px 20px 0px 20px;
}

.btn{
    margin: 5px;
}

body {
    background-image: url("bobsBurgers.jpg");
}

.navbar{
    background-color: yellow;
    color: #FA1F19;
    margin-bottom: 20px;
}

.footer{
    background-color: yellow;
    color: #FA1F19;
    margin-top: 20px;
}